.Ip {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: calc(100vw - 400px);
  top: 10vh;
  z-index: 2;
  color: #c0b112;
  font-size: 35pt;
  font-family: impact;
  text-align: center;
  text-shadow: -2px 2px red;
  transform: rotate(11deg);
}

.Players {
  position: relative;
  color: black;
  text-align: center;
  font-weight: 300;
  font-size: 3vh;
  width: calc(100vw - 400px);
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  text-shadow: 0.1vw 0.1vw 0vw rgba(0, 0, 0, 0.443);
  padding: 2rem;
}

.userImage {
  height: auto;
  width: 90%;
  margin: auto;
}
.pp {
  width: 12rem;
  height: 18rem;
  margin: 3rem;
  color: white;
  display: flex;
  flex-direction: column;
  border: 6px double #ffcc00;
  border-radius: 10px;
}

.username {
  border: 3px solid #ffcc00;
  border-radius: 3px;
  margin-top: 1%;
  margin-bottom: 6%;
  background-color: #ffcc0076;
  margin-inline: auto;
  width: 85%;
}
