@keyframes animation {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes animation2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



.Question {
    position: relative;
    width: 80%;
    background-color: transparent;
    margin: auto;
    margin-block: 3%;
    text-align: center;
    height: auto;
    color: white;
    padding-block: 2%;
    font-size: 4vw;
    animation-name: animation;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    border: red double 1vw;
    border-radius: 1vw;
    padding-inline: 1vw;
}

.A {
    animation-name: animation2;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;

}

.B {
    animation-name: animation2;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

.C {
    animation-name: animation2;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}


.D {
    animation-name: animation2;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}

.Answers {
    width: 100%;
    position: absolute;
    height: 50%;
    bottom: 3vw;
    flex-wrap: wrap;
    display: flex;
}

.bb {
    height: 8vw;
    border: red double 0.5vw;
    width: 40vw;
    justify-content: space-between;
    margin-inline: 4vw;
    color: white;
    text-align: center;
    font-size: 3vw;
    padding-block: 1vw;
    border-radius: 1vw;
    opacity: 0;
    display: flex;
    align-items: center;
}

.correctAnswer {
    
    background: radial-gradient(#ffd701, transparent);
    transition: all 3s ease-in;
}

span {
    width: 100%;
}